h3 {
  color: #5a5a5a;
  font-weight: bold;
  margin: 0 0 10px;
  font-size: 1.3em;
}

.blue {
  color: #3299BB !important;
}

.white {
  color: #fff !important;
}

.gray {
  color: #5A5A5A !important;
}

.red {
  color: red !important;
}

.green {
  color: green !important;
}

img {
  max-width: 100%;
}

a{
  text-decoration: none;
}

tr[data-url]:hover, tr[data-ajax]:hover {
  cursor: pointer;
  background: #3299bb;
}

table {
  width: 100%;
}

textarea {
  resize: vertical;
  min-height: 400px;
}

/* DASHBOARD */
.boardPanel {
  h2 {
    color: #000000;
    margin: 0;
    font-size: 16pt;
    font-weight: normal;
    line-height: 40px;
  }
  header h2 {
    color: #fff;
  }
  > header {
    background: #3299BB;
    height: 40px;
    margin: 0;
  }
}

.boardPanel , .userPanel {
  background: #eeeeee;
  margin: 10px 0;
}

#panelUser {
  background: #3299BB !important;
  padding: 10px;
}

/* ANNOUNCEMENTS */
article {
  padding: 15px 10px;
  hr {
    margin-bottom: 5px;
  }
  p {
    line-height: 1.6em;
    font-size: 12pt;
    text-align: justify;
    padding: 2px 10px;
    font-weight: normal;
    margin-bottom: 5px;
  }
}

/* USER */
#aktualne {
  width: 100%;
  border: 0;
  margin-top: 5px;
  td {
    background: #3299BB;
    padding: 5px;
    font-size: 12pt;
  }
  td:first-child {
    color: #fff;
    font-weight: bold;
  }
  td:last-child {
    color: #fff;
    font-style:italic;
  }
}

#panelUser {
  h2 {
    color: #fff;
    font-family: BigNoodleTitling;
    font-size: 34pt;
    font-weight: normal;
    margin: 0;
  }
  time {
    font-size: 14pt;
    margin: 10px 3px;
    color: #fff;
    font-family: DigitalDream;
  }
}

.icon {
  width: 24px;
  margin: 0 5px;
}

/* FOOTER */
body {
  > footer {
    margin-top: 50px;
    min-height: 100px;
    background: #333333;
    padding: 20px 0 0;
    text-align: center;
    .inline-list li a {
      text-transform: uppercase;
      font-weight: bold;
      color: #ffffff !important;
      font-size: small;
      :hover {
        text-decoration: none;
      }
    }
  }
}

/* SOCIAL SHARE */
#social-share {
  max-width: 171px;
  a:hover {
    color: #3299BB;
  }
  .f-dropdown {
    border: none;
  }
  > li {
    font-size: 1.5rem;
    margin: 0;
  }
}