@charset "UTF-8";

@import "foundation/components/tables";
@import "fonts";

h1 {
  text-align: center;
}

body, html {
  height: auto;
}

table {
  width: 100%;
}

table tfoot tr td:last-child {
  padding: 1cm 0;
}